mcp
trio
pydantic
pandas
numpy
pdfplumber
pymupdf
rapidfuzz
anthropic
openai
langchain-ollama
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-community
scikit-learn
unstructured[pdf]
unstructured-inference
pi-heif
pillow-heif
faiss-cpu
streamlit
python-dotenv
sentence-transformers
Pillow
requests
pytesseract
vastai
matplotlib
python-dateutil
grobid-client-python